DATABASE_URL="postgresql://postgres:P@55w0rd@localhost:5432/land_mgt_system"
PORT=5000
NODE_ENV=development
JWT_SECRET=hellooooo_this_is_me
JWT_EXPIRES_IN=7d
NODE_ENV="development"
TIMEZONE="Africa/Addis_Ababa"

SKIP_ADMIN_SEED=true
SKIP_CONFIG_SEED=true


CITY_ADMIN_PASSWORD=password123
CITY_APPROVER_PASSWORD=password123
REVENUE_ADMIN_PASSWORD=password123
REVENUE_APPROVER_PASSWORD=password123


//upload dir
UPLOADS_DIR=D:\\projects\\land mgt system\\backend\\uploads


CLIENT_ID=bankapi
CLIENT_SECRET=
BANK_JWT_SECRET=
WEBHOOK_SECRET=5